<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>FourZeta</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="style/styleCss.css" />
<link href="style/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<header>
		<nav style="background-color: #4caf50">
			<div class="nav-wrapper" th:each="pessoa : ${pessoa}">
				<a href="#" class="brand-logo">Genealogic</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a
						th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}"
						>Login</a></li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a
						th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}"
						>Arvore</a></li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a
						th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}"
						>Apresentacao</a></li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a
						th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}"
						>Fotos</a></li>
				</ul>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a
						th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}"
						>Formularios de Cadastro</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container formEvento">
		<form class="container" method="post">
			<div class="row">
				<div class="input-field col s12">
					<h5>Cadastro de Pessoa</h5>
				</div>
				<div class="input-field col s6">
					Nome: <input type="text" value="" name="pessoa.nome">
				</div>
				<div>
					<select class="browser-default" name="pessoa.sexo">
						<option value="" disabled selected>Selecione um SEXO</option>
						<option value="MASCULINO">MASCULINO</option>
						<option value="FEMININO">FEMININO</option>
					</select>
				</div>
				<div class="input-field col s6">
					Profissao: <input type="text" value="" name="pessoa.profissao">
				</div>
				<div class="input-field col s6">
					Escolaridade: <input type="text" value=""
						name="pessoa.escolaridade">
				</div>
				<div class="input-field col s6">
					Titulos Especiais: <input type="text" value=""
						name="pessoa.titulosEspeciais">
				</div>
				<div class="input-field col s6">
					Historia da Familia: <input type="text" value=""
						name="pessoa.historiaFamilia">
				</div>
				<div class="input-field col s6">
					Origem do Nome: <input type="text" value=""
						name="pessoa.origemNome">
				</div>
				<div class="input-field col s6">
					Origem do SobreNome: <input type="text" value=""
						name="pessoa.origemSobrenome">
				</div>
				<div class="input-field col s6">
					Outras Informacoes: <input type="text" value=""
						name="pessoa.outrasInformacoes">
				</div>
				<div class="input-field col s12">
					<h5>Certidao de Nascimento</h5>
				</div>
				<div class="input-field col s6">
					Data Nascimento: <input type="date" value=""
						name="pessoa.certidaoNascimento.data" />
				</div>
				<div class="input-field col s6">
					Cidade: <input type="text" value=""
						name="pessoa.certidaoNascimento.cidade">
				</div>
				<div class="input-field col s6">
					Estado: <input type="text" value=""
						name="pessoa.certidaoNascimento.estado">
				</div>
				<div class="input-field col s6">
					Pais: <input type="text" value=""
						name="pessoa.certidaoNascimento.pais">
				</div>
			<div class="input-field col s12">
				<h5>Certidao de Obito</h5>
			</div>
			<div class="input-field col s6">
				Data Nascimento: <input type="date" value=""
					name="pessoa.certidaoObito.data" />
			</div>
			<div class="input-field col s6">
				Cidade: <input type="text" value=""
					name="pessoa.certidaoObito.cidade">
			</div>
			<div class="input-field col s6">
				Estado: <input type="text" value=""
					name="pessoa.certidaoObito.estado">
			</div>
			<div class="input-field col s6">
				Pais: <input type="text" value="" name="pessoa.certidaoObito.pais">
			</div>
	</div>

	<button class="waves-effect waves-light btn" type="submit">Salvar</button>

	</form>
	</div>


	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src="materialize/js/bootstrap.min.js"></script>

</body>


</html>