<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>Genealogic</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link rel="stylesheet" href="style/styleCss.css" />
<link href="style/bootstrap.min.css" rel="stylesheet">

</head>
<body>

	<header>
		<input type="hidden" id="confereUser" th:value="${usuario.nome}" />
		<ul id="nav-mobile"
			style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; top: 0px; width: 100%; position: fixed; display: inline; z-index: 3;">
			<li class="menu"><a id="login"
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('LC#login')).build()}">Login</a></li>

			<li class="menu"><a id="logout"
				style="display: none; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('LC#logout')).build()}">Logout</a></li>

			<li class="menu"><a id="solicitacoesCad"
				style="display: none; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				href="https://docs.google.com/spreadsheets/d/1uK2e5nXeCFlaVqQ7L0u-DZgWFamGdOPj-6OaWBRTVJs/edit#gid=1951242977">Ver
					Solicitacoes Cadastro Pessoas</a></li>

			<li class="menu"><a id="solicitarCad"
				style="display: Block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				href="https://docs.google.com/forms/d/1_8lcjmmcj0hpgDvwdhYRJGp7cTdL8hy6OkcKOMHlUdo/">Solicitar
					Cadastro Pessoas</a></li>

			<li class="menu"><a
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}">Galeria
					de Fotos</a></li>

			<li class="menu"><a
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}">Arvore</a></li>

			<li class="menu"><a
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('GC#index')).build()}">Home</a></li>

			<li style="float: left" class="menu"><h3
					style="font-size: 19px; display: block; color: white; text-align: center; padding: 2px 20px 2px; text-decoration: none;">
					Genealogic - <span th:text="${usuario.nome}"></span>
				</h3></li>
		</ul>
	</header>
	<div class="row" th:each="pessoa : ${pessoa}"
		style="padding: 60px 0px 0px 20px; max-width: 1200px">
		<a id="cadPai1"
			th:href="${(#mvc.url('GC#formCadPessoa').arg(0, pai)).build()}"
			class="waves-effect waves-light btn"><i
			class="material-icons left">person_add </i>Cadastrar Pai</a> <a
			id="cadMae1"
			th:href="${(#mvc.url('GC#formCadPessoa').arg(0, mae)).build()}"
			class="waves-effect waves-light btn"><i
			class="material-icons left">person_add </i>Cadastrar Mae</a> <a
			id="cadFilhos1"
			th:href="${(#mvc.url('GC#formCadPessoa').arg(0, filhos)).build()}"
			class="waves-effect waves-light btn"><i
			class="material-icons left">person_add </i>Cadastrar Filhos</a> <a
			id="cadIrmaos1"
			th:href="${(#mvc.url('GC#formCadPessoa').arg(0, irmaos)).build()}"
			class="waves-effect waves-light btn"><i
			class="material-icons left">person_add </i>Cadastrar Irmaos</a>
	</div>


	<div class="row" style="max-width: 1200px">
		<div class="col-lg-6">

			<div style="margin-top: 10px;" th:each="pessoa : ${pessoa}"
				class="container detalhesEvento">
				<input type="hidden" id="conferePai" th:value="${pessoa.pai.id}" />
				<input type="hidden" id="confereMae" th:value="${pessoa.mae.id}" />

				<h5 style="padding-left: 45%">
					<Strong>Perfil</Strong>
				</h5>
				<div class="row">
					<p>
						Nome: <span th:text="${pessoa.nome}"></span>
					</p>
					<p>
						Sexo: <span th:text="${pessoa.sexo}"></span>
					</p>
					<p>
						Profissao: <span th:text="${pessoa.profissao}"></span>
					</p>
					<p>
						Escolaridade: <span th:text="${pessoa.escolaridade}"></span>
					</p>
					<p>
						Titulos Especiais: <span th:text="${pessoa.titulosEspeciais}"></span>
					</p>
					<p>
						Historia Familia: <span th:text="${pessoa.historiaFamilia}"></span>
					</p>
					<p>
						Origem Nome: <span th:text="${pessoa.origemNome}"></span>
					</p>
					<p>
						Origem Sobrenome: <span th:text="${pessoa.origemSobrenome}"></span>
					</p>
					<p>
						Outras Informacoes: <span th:text="${pessoa.outrasInformacoes}"></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-6">

			<div style="margin-top: 10px;" th:each="pessoa : ${pessoa}"
				class="container detalhesEvento">
				<h5 style="padding-left: 35%">
					<Strong> Certidao Nascimento</Strong>
				</h5>
				<div class="row">
					<p>
						Data: <span th:text="${pessoa.certidaoNascimento.data}"></span>
					</p>
					<p>
						Pais: <span th:text="${pessoa.certidaoNascimento.pais}"></span>
					</p>
					<p>
						Estado: <span th:text="${pessoa.certidaoNascimento.estado}"></span>
					</p>
					<p>
						Cidade: <span th:text="${pessoa.certidaoNascimento.cidade}"></span>
					</p>
					<h5 style="padding-left: 40%">
						<Strong> Certidao Obito</Strong>
					</h5>
					<p>
						Data: <span th:text="${pessoa.certidaoObito.data}"></span>
					</p>
					<p>
						Pais: <span th:text="${pessoa.certidaoObito.pais}"></span>
					</p>
					<p>
						Estado: <span th:text="${pessoa.certidaoObito.estado}"></span>
					</p>
					<p>
						Cidade: <span th:text="${pessoa.certidaoObito.cidade}"></span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-12" style="padding: 10px 0px 0px 40px;">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item"><a class="nav-link" id="filhos-tab"
					data-toggle="tab" href="#filhos" role="tab" aria-controls="filhos"
					aria-selected="false" aria-expanded="false">Filhos</a></li>

				<li class="nav-item"><a class="nav-link" id="irmaos-tab"
					data-toggle="tab" href="#irmaos" role="tab" aria-controls="irmaos"
					aria-selected="false" aria-expanded="false">irmaos</a></li>

				<li class="nav-item active"><a class="nav-link show active"
					id="pais-tab" data-toggle="tab" href="#pais" role="tab"
					aria-controls="pais" aria-selected="true" aria-expanded="true">Pais</a></li>
			</ul>



			<div class="tab-content" id="myTabContent" style="min-width: 1000px">
				<div class="tab-pane fade" id="filhos" role="tabpanel"
					aria-labelledby="filhos-tab">

					<div class="row">
						<div class="col-lg-12">

							<table class="container tabelaConvidado">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Sexo</th>
										<th>Pai</th>
										<th>Mae</th>
										<th>Acoes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="filho: ${listaFilhos}">
										<td><a
											th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, filho.id)).build()}">
												<span style="color: blue; text-decoration: underline"
												th:text="${filho.nome}"></span>
										</a></td>
										<td><span th:text="${filho.sexo}"></span></td>
										<td><span th:text="${filho.pai.nome}"></span></td>
										<td><span th:text="${filho.mae.nome}"></span></td>
										<td><a id="editFilhos1"
											th:href="${(#mvc.url('GC#formEditCadPessoa').arg(0, filhos).arg(1, filho.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons left">edit</i></a>|<a id="deleteFilhos1"
											th:href="${(#mvc.url('GC#deletarPessoa').arg(0, filho.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons right">delete</i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="irmaos" role="tabpanel"
					aria-labelledby="irmaos-tab">
					<div class="row" style="padding-top: 1px">
						<div class="col-lg-12">

							<table class="container tabelaConvidado">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Sexo</th>
										<th>Pai</th>
										<th>Mae</th>
										<th>Acoes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="irmao : ${listaIrmaos}">
										<td><a
											th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, irmao.id)).build()}">
												<span style="color: blue; text-decoration: underline"
												th:text="${irmao.nome}"></span>
										</a></td>
										<td><span th:text="${irmao.sexo}"></span></td>
										<td><span th:text="${irmao.pai.nome}"></span></td>
										<td><span th:text="${irmao.mae.nome}"></span></td>
										<td><a id="editIrmaos1"
											th:href="${(#mvc.url('GC#formEditCadPessoa').arg(0, irmaos).arg(1, irmao.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons left">edit</i></a>|<a id="deleteIrmaos1"
											th:href="${(#mvc.url('GC#deletarPessoa').arg(0, irmao.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons right">delete</i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>


				<div class="tab-pane fade active in" id="pais" role="tabpanel"
					aria-labelledby="pais-tab">

					<div class="row">
						<div class="col-lg-12">

							<table class="container tabelaConvidado">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Sexo</th>
										<th>Pai</th>
										<th>Mae</th>
										<th>Acoes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="pessoaPai: ${pessoa.pai}">
										<td><a id="linkComPai1"
											th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoaPai.id)).build()}">
												<span style="color: blue; text-decoration: underline"
												th:text="${pessoaPai.nome}"></span>
										</a><a id="linkSemPai1" style="display: none"> <span
												th:text="${pessoaPai.nome}"></span>
										</a></td>
										<td><span th:text="${pessoaPai.sexo}"></span></td>
										<td><span th:text="${pessoaPai.pai.nome}"></span></td>
										<td><span th:text="${pessoaPai.mae.nome}"></span></td>
										<td><a id="editPai1"
											th:href="${(#mvc.url('GC#formEditCadPessoa').arg(0, pai).arg(1, pessoaPai.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons left">edit</i></a>|<a id="deletePai1"
											th:href="${(#mvc.url('GC#deletarPessoa').arg(0, pessoaPai.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons right">delete</i></a></td>
									</tr>
									<tr th:each="pessoaMae: ${pessoa.mae}">
										<td><a id="linkComMae1"
											th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoaMae.id)).build()}">
												<span style="color: blue; text-decoration: underline"
												th:text="${pessoaMae.nome}"></span>
										</a><a id="linkSemMae1" style="display: none"> <span
												th:text="${pessoaMae.nome}"></span>
										</a></td>
										<td><span th:text="${pessoaMae.sexo}"></span></td>
										<td><span th:text="${pessoaMae.pai.nome}"></span></td>
										<td><span th:text="${pessoaMae.mae.nome}"></span></td>
										<td><a id="editMae1"
											th:href="${(#mvc.url('GC#formEditCadPessoa').arg(0, mae).arg(1, pessoaMae.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons left">edit</i></a>|<a id="deleteMae1"
											th:href="${(#mvc.url('GC#deletarPessoa').arg(0, pessoaMae.id)).build()}"
											class="waves-effect waves-light btn-small"><i
												class="material-icons right">delete</i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="materialize/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="materialize/js/controle.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#myTab li:last-child a').tab('show')
		})
	</script>

</body>


</html>