<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>FOURZETA - Gerenciador de Torneios de Padel</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style/styleCss.css" />
</head>

<body>
	<header>
		<input type="hidden" id="confereUser_login" th:value="${usuario.nome}" />
		<ul id="nav-mobile"
			style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; top: 0px; width: 100%; position: fixed; display: inline; z-index: 3;">
			<li class="menu"><a id="login_login"
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('LC#login')).build()}">Login</a></li>

			<li class="menu"><a id="logout_login"
				style="display: none; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('LC#logout')).build()}">Logout</a></li>

			<li class="menu"><a id="solicitacoesCad_login"
				style="display: none; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				href="https://docs.google.com/spreadsheets/d/1uK2e5nXeCFlaVqQ7L0u-DZgWFamGdOPj-6OaWBRTVJs/edit#gid=1951242977">Ver
					Solicitacoes Cadastro Pessoas</a></li>

			<li class="menu"><a id="solicitarCad_login"
				style="display: Block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				href="https://docs.google.com/forms/d/1_8lcjmmcj0hpgDvwdhYRJGp7cTdL8hy6OkcKOMHlUdo/">Solicitar
					Cadastro Pessoas</a></li>

			<li class="menu"><a
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}">Galeria
					de Fotos</a></li>

			<li class="menu"><a
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('GC#arvoreGenealogica').arg(0, pessoa.id)).build()}">Arvore</a></li>

			<li class="menu"><a
				style="display: block; color: white; text-align: center; padding: 19px 16px; text-decoration: none;"
				th:href="${(#mvc.url('GC#index')).build()}">Home</a></li>

			<li style="float: left" class="menu"><h3
					style="font-size: 19px; display: block; color: white; text-align: center; padding: 2px 20px 2px; text-decoration: none;">
					Genealogic - <span th:text="${usuario.nome}"></span>
				</h3></li>
		</ul>
	</header>
	<div class="container formEvento" style="margin-top: 90px">

		<form class="container" method="post">
			<div class="row">
				<div>
					Usuario: <input type="text" value="" name="nickname" />
				</div>
				<div>
					Senha: <input type="password" value="" name="senha" />
				</div>
			</div>
			<div align="center" style="margin-top: 5px">
				<button class="waves-effect waves-light btn" type="submit">Logar</button>
			</div>
		</form>

	</div>
</body>

<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="materialize/js/bootstrap.min.js"></script>
<script type="text/javascript" src="materialize/js/controle_login.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>


<footer>
	<hr align="center" width="1200" style="max-higth:20px;margin-top:180px"  color=black>
	<h6 align="center">Genealogic - Login</h6>
</footer>

</html>
